@font-face {
    font-family: 'LeagueSpartan';
    font-weight:400;
    src: url('fonts/LeagueSpartan-Regular.woff2') format('woff2'),
         url('fonts/LeagueSpartan-Regular.woff') format('woff');
}
@font-face {
    font-family: 'LeagueSpartan';
    font-weight:500;
    src: url('fonts/LeagueSpartan-Medium.woff2') format('woff2'),
         url('fonts/LeagueSpartan-Medium.woff') format('woff');
}
@font-face {
    font-family: 'LeagueSpartan';
    font-weight:700;
    src: url('fonts/LeagueSpartan-Bold.woff2') format('woff2'),
         url('fonts/LeagueSpartan-Bold.woff') format('woff');
}

.attribution {
    display: none;
}
body {
    background-color: hsl(300, 24%, 96%);
    font-family: LeagueSpartan;
    font-weight: 400;
    font-size: 1rem;
}

body {
    background-image: url('images/bg-pattern-top-desktop.svg'),
                      url('images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left, 
                         bottom right;

}  
/*
.page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/

html, body {
    height: 100%;
    margin: 0   ;
  }
  
  .page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.page {
    display: grid;
    grid-template-columns:1fr 1.5fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'text ratings'
    'reviews reviews';
}

.text {
    grid-area: text;
    font-size: 1.25rem;
}
.title {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 3rem;
    width: 15ch;
    color: hsl(300, 43%, 22%);
}
.desc {
    font-weight: 500;
    color: hsl(303, 10%, 53%);
    width: 43ch;
    margin-top: 2rem;
}

.ratings {
    grid-area: ratings;

    display: grid;
    grid-template-rows: repeat(3,4rem);
    grid-template-areas: 
    'line-1'
    'line-2'
    'line-3';

    font-weight: 700;
    color: hsl(300, 43%, 22%);

    height: 20rem;
}
.rating {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    'stars site';
    text-align: center;
    padding-top: 1rem;
    width: 30rem;
    background-color: hsla(303, 11%, 60%, 0.219);
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.site {
    text-align: left;
}

.rating-1{
    grid-area: line-1;
}
.rating-2{
    grid-area: line-2;
    margin-left: 3rem;
}
.rating-3{
    grid-area: line-3;
    margin-left: 6rem;

}

.rating .stars {
    grid-area: stars;
}
.rating .site {
    grid-area: site;
}


.reviews {
    grid-area: reviews;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.reviews{
    position: relative;
    right: 10%;
}
.review {
    display: grid;
    grid-template-columns: 5rem 20rem  ;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    'pfp name'
    'msg msg';

    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    background-color: hsl(300, 43%, 22%);
    border-radius: 1rem;

    height: 17rem;
}
.review .name {
    grid-area: name;
    font-weight: 700;
    margin: 0.5rem 3rem;
}
.review .user-title {
    color: hsl(333, 80%, 67%);
}
.review .pfp {
    grid-area: pfp;
    margin: 1rem 2rem;
}
.review .pfp img {
    border-radius: 50%;
}
.review .msg {
    grid-area: msg;
    margin: 1rem 2rem;
}

.review-2 {
    margin-top: 3rem;
}

.review-3 {
    margin-top: 6rem;
}

@media (max-width: 767px) {
    .page {
        position: relative;
        top: 30rem;
        display: grid;
        grid-template-rows: 20rem 20rem 20rem;
        grid-template-columns:100%;
        grid-template-areas:
        'mobile-header'
        'mobile-ratings'
        'reviews';
    }

    .body {
        background-image: url('images/bg-pattern-top-mobile.svg'),
                          url('images/bg-pattern-bottom-mobile.svg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top left, 
                             bottom right;
    }

    .text {
        grid-area: mobile-header;
        text-align: center;
        margin:auto
    }
    .ratings {
        grid-area: mobile-ratings;
        margin: auto;
    }

    .reviews {
        grid-area: reviews;
        display: flex;
        flex-wrap: wrap;
    }
    .reviews{
        position: relative;
        left: 4%;
    }
    .review {
        margin:auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
}

