@font-face {
    font-family: 'Red Hat Display';
    src: url('RedHatDisplay-Black.woff2') format('woff2'),
        url('RedHatDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('RedHatDisplay-Medium.woff2') format('woff2'),
        url('RedHatDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('RedHatDisplay-Bold.woff2') format('woff2'),
        url('RedHatDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

