@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Medium.woff2') format('woff2'),
        url('BarlowSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-SemiBold.woff2') format('woff2'),
        url('BarlowSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

